version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "AllDmeat"
  - package-ecosystem: "swift"
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "AllDmeat"
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "AllDmeat"
