name: test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-and-test:
    name: Build & Test
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Show toolchain
        run: swift --version

      - name: Build
        run: swift build -c release

      - name: Test
        run: swift test --parallel
